::-moz-selection {color:black;background:#FAC200;}
::selection {color:black;background:#FAC200;}
* {margin:0;padding:0;box-sizing:border-box;}
img {border:none;}

body {font-size:100%;font-family:Arial, sans-serif;color:black;}

h1, h2, h3, h4, h5, h6 {font-weight:400;color:black;margin-bottom:0.5em;font-family:"Fjalla One", sans-serif;}
h1 {font-size:6vw;}
h2 {font-size:24px;text-align:center;border-top:2px solid black;padding-top:0.5em;margin-bottom:0.5em;text-transform:uppercase;width:60%;margin:0 auto;max-width:780px;}
h2 strong {font-weight:300;}
h3 {font-size:2vw;color:white;}
p {font-size:18px;margin-bottom:32px;line-height:32px;font-family:Georgia, "Times New Roman", Times, serif;}
button {cursor:pointer;text-transform:uppercase;color:white;font-family:"Fjalla One", sans-serif;font-weight:normal;background:transparent;border:solid 3px white;}
a {color:black;text-decoration:none;}
a:hover {color:#FAC200;}
a span, a:hover span, a:hover, button, button:hover, img, img:hover, i, i:hover, #personal li a, #personal li a:hover {-webkit-transition: all 1s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
p a:hover {background-color:#FAC200;color:black;}

.flexbox {display:-webkit-flex;display:-ms-flexbox;display:flex;overflow:hidden;}

/* Top */
header {/*background:url(../images/header-bg.png) no-repeat;background-size:cover;*/background-color:#FAC200;overflow:hidden;position:relative;}
header div {width:45%;height:auto;float:right;flex:1;position:relative;}
header div img {width:100%;height:auto;position:absolute;bottom:0;}
header div.intro {float:left;width:55%;padding:5%;/*background:-moz-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%);background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0)));background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);background: -o-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);background: -ms-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );*/}
header div.intro h1 {float:left;text-transform:uppercase;text-align:left;padding:0.1em 0;color:white;border:solid 3px white;border-left:none;border-right:none;position:relative;}
header div.intro h1 small {font-size:1.4vw;color:white;background-color:#FAC200;position:absolute;bottom:-10%;left:25%;width:50%;text-align:center;}
header div.intro h1 small a {color:white;}
header div.intro h1 small a:hover {color:black;}
header div.intro h1 s {display:none;}
header div.intro p {float:left;width:100%;font-style:italic;font-size:2.6vw;line-height:3.6vw;}
header div.intro p a {font-family:"Fjalla One", sans-serif;}
header div.intro button {width:auto;font-size:2.4vw;padding:2% 10%;margin-top:0.5em;}
header div.intro button:hover {border-color:black;color:black;}
header div.intro a.animated {float:right;margin-right:-30px;margin-top:50px;font-size:12px;text-align:center;}
header div.intro a.animated i {display:block;font-size:4vw;}
header div.intro a.animated:hover i {color:white;}
header div.intro a.animated span {color:#FAC200;font-size:1.2em;}
header div.intro a.animated:hover span {color:white;}

/* Sections */
section {float:left;width:100%;padding:5%;}

#bio {padding:5%;}
#bio p.intro, #recent-work p, #stats p {font-size:28px;line-height:44px;width:60%;font-style:italic;text-align:center;margin:0 auto;border-top:3px solid black;padding-top:2em;margin-bottom:2em;max-width:700px;}
#bio p.intro strong, #bio p a {font-family:"Fjalla One", sans-serif;font-weight:400;font-style:normal;text-transform:uppercase;}
#bio div {-webkit-column-count:2;-moz-column-count:2;column-count:2;width:60%;margin:0 auto;max-width:700px;}
#bio h2, #bio h3 {color:black;}
#bio p a {font-size:16px;}

#recent-work {background:url(../images/desk-angle.jpg) center top;background-size:cover;color:white;position:relative;float:left;width:100%;height:auto;text-align:center;}
#recent-work h2 {border-color:white;}
#recent-work h2 a {font-family:Georgia, "Times New Roman", Times, serif;text-transform:lowercase;font-style:italic;background-color:#FAC200;color:black;}
#recent-work h2, #recent-work h3, #recent-work a {color:white;}
#recent-work p, #stats p {padding:0;border:none;clear:both;line-height:1.2em;margin-bottom:0;}
#recent-work img {margin:4em 0;width:20%;height:auto;}

#work {background-color:#F3F2EE;}
#work h2 {margin-bottom:2em;}
#work li {display:inline;float:left;width:30%;background-color:white;flex:1;}
#work li:nth-child(2) {margin:0 5%;}
#work li h4, #work li figcaption {padding:1em;padding-bottom:0.4em;}
#work h4 {padding-bottom:0;}
#work li img {width:100%;height:auto;-webkit-filter: grayscale(1); -webkit-filter: grayscale(100%);filter: gray; filter: grayscale(100%);filter: url(desaturate.svg#greyscale);}
#work li:hover img {-webkit-filter:none;-webkit-filter:none;filter:none;filter:none;filter:none;}

#stats {background-color:#FAC200;}
#stats li {width:25%;display:inline;float:left;text-align:center;}
#stats li img {width:30%;height:auto;display:block;margin:0 auto;}
#stats li big {display:block;font-size:6em;}
#stats p {margin:2em auto;}

#personal {background-color:#272727;padding:0;color:white;}
#personal h2 {color:white;border-color:white;margin-top:5%;}
#personal li {display:inline;float:left;width:25%;height:35vh;background-position:center center;background-repeat:no-repeat;background-size:cover;display:table;}
#personal li a {display:block;float:left;background-color:black;opacity:0.7;width:100%;height:100%;color:#666;text-align:center;vertical-align:center;display:table-cell;}
#personal li a:hover {background-color:#FAC200;opacity:0.8;}
#personal li a strong {display:block;font-size:2em;font-family:Georgia, "Times New Roman", Times, serif;font-weight:normal;font-style:italic;}

#personal li.evernote {background-image:url(../images/softwares-techniques/evernote-cover.png);}
#personal li.evernote a:hover {background-color:#2DBE60;color:white;}
#personal li.philz-coffee {background-image:url(../images/softwares-techniques/philz-coffee.png);}
#personal li.philz-coffee a:hover {background-color:#28231F;color:white;}
#personal li.pomodoro {background-image:url(../images/softwares-techniques/pomodoro.png);}
#personal li.pomodoro a:hover {background-color:red;color:white;}
#personal li.textmate {background-image:url(../images/softwares-techniques/textmate.png);}
#personal li.textmate a:hover {background-color:pink;color:white;}

/* Bottom */
footer {text-align:center;background-color:white;color:black;float:left;width:100%;padding:2vw;}
footer a {display:block;color:black;}
footer nav {font-size:3vw;}
footer nav a {display:inline;text-decoration:none;}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	h2 {font-size:24px;text-align:center;}

	header div {width:100%;height:auto;float:right;text-align:center;}
	header div.intro {float:left;width:100%;background-color:white;padding:5%;}
	header div.intro button {width:100%;}

	#bio p.intro {font-size:20px;line-height:32px;width:100%;}
	#bio div {-webkit-column-count:1;-moz-column-count:1;column-count:1;width:100%;margin:0 auto;}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	#bio p.intro {font-size:32px;line-height:44px;width:80%;}
	#bio div {-webkit-column-count:1;-moz-column-count:1;column-count:1;width:80%;margin:0 auto;}
	.work li {display:block;float:none;width:100%;}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
}

/*Animations*/
a.bounce {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
	-webkit-animation-delay: 4s;
			animation-delay: 4s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}